<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      SENE RESTAURANT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title class="menu">Menu du jour</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let plat of plats" >
        <ion-text>
            <ion-label class="jour"> {{plat.nom}} : {{plat.prix}}Fcfa  </ion-label>
            {{plat.description}}
        </ion-text>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>
