<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="loginForm" (submit)="login(loginForm.value)">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Veuillez vous authentifier</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input formControlName="identifier"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Mot de passe</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
            <div class="ion-margin-top">
              <ion-button (click)="register()" slot="start" fill="outline">S'inscrire</ion-button>
              <ion-button slot="start" type="submit">Se connecter</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>